<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leyou.mapper.CategoryMapper">

<!--    根据父类的pid查询分类的列表的list集合-->
    <select id="queryCategoryById" resultType="com.leyou.entity.Category">
      select * from tb_category where parent_id =#{pid}
    </select>


<!--    使用list阐述查询 category的dto-->
    <select id="selectByCids" resultType="com.leyou.item.pojo.dto.CategoryDTO">
       select * from tb_category IN
        <foreach collection="cids" item="cid" separator=",">
             #{cid}
        </foreach>
    </select>
</mapper>